*{
    box-sizing: content-box;
    margin: .5rem;
    padding: 0;
}
textarea{
  width: 100%;
  height: 17rem;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 12px;
  resize: none;
  display: flex;
  flex-direction: column;
}

iframe{
    box-sizing: border-box;
    width: 100%;
    height: 23rem;
}

.contenedorIFrame{
  display: flex;
  flex-direction: row;
}

content{
  box-sizing: content-box;
  width: 50rem;
  display: flex;
  flex-direction: column;
}
content div{
  width: 40%;
}

textarea style {
  color:green;
}