html{
    font-size: 62.5%;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
}

iframe{
    min-height: 38rem;
    width: 100%;
    height: auto;
}

.contenedor{
    width: 100% ;
    border: 10px solid black;
}

li{
    list-style: none;
}

.video{
    width: 100%;
    margin-left: 0;
}

img{
    max-width: 100%;
}

p{
    font-size: 1.8rem;
}

h3{
    color: red;
}

.articulo .parrafo{
    color: red;
}

video{
    width: 200px;
    height: 200px;
}
@media screen   and (main-width: 600px) {   
    iframe{
        width: 100%;
    }    
}

/* Language: colapsar divs */
.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }

  li textarea{
      width: 100%;
  }