html{
    font-size: 62.5%;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

iframe{
    height: 38rem;
    width: 60%;
}

.contenedor{
    width: 100% ;
    border: 10px solid black;
}

li{
    list-style: none;
}

.video{
    width: 100%;
    margin-left: 0;
}

img{
    max-width: 100%;
}

p{
    font-size: 12px;
}

h3{
    color: red;
}

.articulo .parrafo{
    color: red;
}

video{
    width: 200px;
    height: 200px;
}